zookeeper.connect={% for host in groups['zookeeper'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{zookeeper.config.clientPort}}{% endfor %}

log.dirs={% for logdir in kafka.broker.datadir %}{% if loop.index > 1%},{% endif %}{{ logdir }}{% endfor %}

broker.id={{kafka.broker.id}}

# If we have a kafka_override set, we want to combine this with the default config.
{% for key, value in (kafka.broker.config | combine(kafka_override.broker.config | default({}))).items()  %}
{{key}}={{value}}
{% endfor %}
