# Maintained by Ansible
{% include './includes/base_connect-distributed.properties.j2' %}

#SSL additions
#ssl.truststore.location=/var/ssl/private/client.truststore.jks
#ssl.truststore.password={{ keystore_password }}
ssl.keystore.location=/var/ssl/private/client.keystore.jks
ssl.keystore.password={{ keystore_password }}
ssl.key.password={{ keystore_password }}
security.protocol=SSL
#producer.ssl.truststore.location=/var/ssl/private/client.truststore.jks
#producer.ssl.truststore.password={{ keystore_password }}
producer.ssl.keystore.location=/var/ssl/private/client.keystore.jks
producer.ssl.keystore.password={{ keystore_password }}
producer.ssl.key.password={{ keystore_password }}
producer.security.protocol=SSL
#consumer.ssl.truststore.location=/var/ssl/private/client.truststore.jks
#consumer.ssl.truststore.password={{ keystore_password }}
consumer.ssl.keystore.location=/var/ssl/private/client.keystore.jks
consumer.ssl.keystore.password={{ keystore_password }}
consumer.ssl.key.password={{ keystore_password }}
consumer.security.protocol=SSL
#producer.confluent.monitoring.interceptor.ssl.truststore.location=/var/ssl/private/client.truststore.jks
#producer.confluent.monitoring.interceptor.ssl.truststore.password={{ keystore_password }}
producer.confluent.monitoring.interceptor.ssl.keystore.location=/var/ssl/private/client.keystore.jks
producer.confluent.monitoring.interceptor.ssl.keystore.password={{ keystore_password }}
producer.confluent.monitoring.interceptor.ssl.key.password={{ keystore_password }}
producer.confluent.monitoring.interceptor.security.protocol=SSL
#consumer.confluent.monitoring.interceptor.ssl.truststore.location=/var/ssl/private/client.truststore.jks
#consumer.confluent.monitoring.interceptor.ssl.truststore.password={{ keystore_password }}
consumer.confluent.monitoring.interceptor.ssl.keystore.location=/var/ssl/private/client.keystore.jks
consumer.confluent.monitoring.interceptor.ssl.keystore.password={{ keystore_password }}
consumer.confluent.monitoring.interceptor.ssl.key.password={{ keystore_password }}
consumer.confluent.monitoring.interceptor.security.protocol=SSL