# Maintained by Ansible
listeners=PLAINTEXT://{% for host in groups['zookeeper'] %}{% if loop.index > 1%},{% endif %}{{ host }}{% endfor %}:{{broker.config.port}}

{% include './includes/base_server.properties.j2' %}

# Confluent Support
{% include './includes/confluent_support.j2' %}